<form role="form" class="login form-inline" ng-submit="submit()">
	<div class="ui input">
		<label for="login-user" class="sr-only" >Username:</label>
		<input id="login-user" class="form-control" ng-model="user.username" type="text" name="user" placeholder="Username" />
	</div>
	<div class="ui input">
		<label for="login-pass" class="sr-only" >Password:</label>
		<input id="login-pass" class="form-control" ng-model="user.password" type="password" name="pass" placeholder="Password" />
	</div>
	<input class="btn btn-default" type="submit" value="Login" />
</form>