<div class="ui menu hide on mobile">
	<a class="item"><i class="home icon"></i> Home</a>
	<a class="item"><i class="info letter icon"></i> About</a>
	<a class="item"><i class="folder icon"></i> Projects</a>
	<div class="right menu">
		<a class="item"><i class="facebook icon"></i> Facebook</a>
		<a class="item"><i class="linkedin icon"></i> LinkedIn</a>
		<a class="item"><i class="github icon"></i> Github</a>
	</div>
</div>

<div class="ui thin navigation sidebar menu vertical">
	<a class="item"><i class="home icon"></i> Home</a>
	<a class="item"><i class="info letter icon"></i> About</a>
	<a class="item"><i class="folder icon"></i> Projects</a>
	<div class="ui horizontal icon divider">
	  <i class="empty star icon"></i>
	</div>
	<a class="item"><i class="facebook icon"></i> Facebook</a>
	<a class="item"><i class="linkedin icon"></i> LinkedIn</a>
	<a class="item"><i class="github icon"></i> Github</a>
</div>